{
  "env": {
    "mocha": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "airbnb-base"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "indent": [
      "error",
      4
    ],
    "max-len": [
      "warn",
      120
    ],
    "no-global-assign": [
      "warn"
    ],
    "no-bitwise": [
      "off"
    ]
  }
}