{
    "env": {
        "jest": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "airbnb-base"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaVersion": 9,
        "sourceType": "module"
    },
    "rules": {
        "indent": [
            "error",
            4
        ],
        "max-len": "off",
        "no-global-assign": "warn",
        "no-bitwise": "off",
        "default-param-last": "off",
        "import/extensions": "off",
        "class-methods-use-this": "off",
        "no-underscore-dangle": "off"
    }
}